.modal-container {
    background-color: #fff;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    border-radius: 5px;
    display: block;
    height: 300px;
    width: 70%;
    max-width: 400px;
}

.modal-container p {
    margin: 0;
}
